@model IEnumerable<Web_ThiTracNghiem.Models.CAUHOI>

@{
    ViewBag.Title = "Thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{int cau = 1; }
@foreach (var item in Model)
{
    <div style="padding: 15px;border: 0.5px solid black;border-radius: 10px; margin: 10px;">
        <label style="margin-bottom:5px">Câu @cau: @item.NOIDUNG</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="@item.MACAUHOI" id="@item.MACAUHOI" value="A">
            <label class="form-check-label" for="">A. @item.DAPAN1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="@item.MACAUHOI" id="@item.MACAUHOI" value="B">
            <label class="form-check-label" for="">B. @item.DAPAN2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="@item.MACAUHOI" id="@item.MACAUHOI" value="C">
            <label class="form-check-label" for="">C. @item.DAPAN3</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="@item.MACAUHOI" id="@item.MACAUHOI" value="D">
            <label class="form-check-label" for="">D. @item.DAPAN4</label>
        </div>
    </div>
    cau++;
}
<button class="submit form-check btn btn-primary" style="float:right; margin:5px 5px 0 0"> HOÀN THÀNH BÀI THI </button>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        // Lấy thời gian thi lưu vào ViewBag["Time"]
        var fiveMinutes = 60 * @ViewBag.TgLamBai;
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
</script>

<script>
        $(document).on('click', '.submit', function () {
            var ele = document.getElementsByTagName('input');
            var output = [];
            var count = 0;
            for (i = 0; i < ele.length; i++) {
                if (ele[i].type = "radio") {
                    var question_id = ele[i].id;
                    if (ele[i].checked) {
                        output.push(ele[i].value);
                        count += 1;
                    }
                }
            }
            var slch = 1 * @ViewBag.SLCAUHOI;
            console.log(slch);
            console.log(count);

            if (slch == count) {
                $.ajax({
                    url: '/Home/ChamDiem',
                    type: "POST",
                    data: { 'cautraloi': output },
                    success: function (data) {
                        window.location = "Result";
                    },
                });
            }
            else {
                alert("Hãy chọn tất cả các câu hỏi !");
            }
        });
</script>

